version: '3'
services:
  appinventorserver:
    build: .
    ports:
     - "8888:8888"
    volumes:
     - /Users/macuser/Development/appinventor-sources:/root/appinventor-sources
    stdin_open: true
    tty: true
